@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
body{
  box-sizing: border-box;
  font-family: "Hammersmith One", sans-serif;
  width: 100%;
  margin: auto;
  background: #fff5e2;
}